.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .card {
            align-items: center;
            margin: 1rem;
            padding: 1rem;
            width: 500px;
    
            span {
                border: 1px solid rgba(0,0,0,.25);
                width: 136px;
                border-radius: 50%;
                cursor: pointer;
                img {
                    border-radius: 70px;
                }
            }
            p {
                cursor: pointer;
            }
            p:hover {
                color: blue;
            }
        }
    }
}
app-user-options {
    width: 100%;
}