<div class="container">
    <i class="fa fa-user active" aria-hidden="true" (mouseenter)="sendDetail(userData[0])"></i>
    <i class="fa fa-envelope-o" aria-hidden="true" (mouseenter)="sendDetail(userData[1])"></i>
    <i class="fa fa-calendar-o" aria-hidden="true" (mouseenter)="sendDetail(userData[2])"></i>
    <i class="fa fa-map-marker" aria-hidden="true" (mouseenter)="sendDetail(userData[3])"></i>
    <i class="fa fa-phone" aria-hidden="true" (mouseenter)="sendDetail(userData[4])"></i>
</div>