@import '../color-variables/colors.scss';

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    padding: 4px;
    i {
        font-size: 30px;
        margin: 20px;
        padding: 1rem 0;
        width: 40px;
        height: 48px;
        cursor: pointer;
        color: $iconColor;
    }
}

.active {
    border-top: solid $green;
    color: $green !important;
    transition: color .30s ease-out;
}